
.login-page {
}

.login-page .presentation {
    margin: 0 -26px;

}

.login-page .presentation .gradient {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, rgba(255, 246, 212, 1) 100%);
}

.login-page .began {
}
